*{
    margin: 0;

}

table{
    margin-top: 60px;
    margin-left: 100px;
    border: 12px solid grey;
    
}
tr{
    background-color: grey;
}
td{
    color: aliceblue;
}
    
    
}

button{
    background-color: green;
    color: white;
    margin: 30px;
}