/*Css for table.html*/
.container{
   margin: 200px;
    background: #fff;
    border-radius: 5px;
    width: 600px;
    padding: 20px;
    box-shadow: 0 2px 2px 3px rgba(0,0,0,0.1);
}
.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    padding-bottom:15px;
    border-bottom: 2px solid grey;
}

.add{
    text-decoration: none;
    display: flex;
    width: 30px;
    height: 30px;
    background: #8bc34a;
    font-size: 2rem;
    font-weight: bold;
    color:#fff;
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
    gap: 1.5rem;
}
.delete{
    text-decoration: none;
    display: inline-block;
    background: red;
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    font-weight: bold;
    width: 30px;
    height: 30px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

input{
  color:green;  
}


tr{
    background-color: red;
}
